.admin-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin-title {
  flex: 1;
  text-align: left;
}
.admin-table {
  flex: 1;
  width: 80%;
  font-size: 30px;
}
.admin-table .ant-table {
  font-family: "Prompt", sans-serif; /* กำหนดฟอนต์ */
  font-size: 20px; /* ขนาดตัวอักษร */
}

.admin-table .ant-table-thead > tr > th {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  color: #333; /* สีหัวข้อ */
}

.admin-table .ant-table-tbody > tr > td {
  font-family: "Prompt", sans-serif;
  font-size: 18px; /* ขนาดตัวอักษรในแถว */
}
