body {
  margin: 0; /* ลบ margin เริ่มต้นของ body */
  padding: 0; /* ลบ padding เริ่มต้นของ body */
  width: 100%; /* ครอบคลุมทั้งหน้าจอ */
  height: 100%; /* ครอบคลุมทั้งหน้าจอ */
  background-image: url("../../../public/images/wallpaper.jpg");
  background-size: cover; /* ให้รูปครอบคลุมทั้งพื้นที่ */
  background-position: center; /* จัดรูปให้อยู่ตรงกลาง */
  background-repeat: no-repeat; /* ไม่ให้ภาพซ้ำ */
  background-attachment: fixed; /* ล็อกพื้นหลังไม่ให้เลื่อนตาม */
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  position: relative;
  height: 100vh;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-section .text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-section .hero-section-img-box {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hero-section .hero-section-img-box img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.two-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  position: relative;
  height: 700px;
  flex-direction: column;
  background: #636363;
}
.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #8dbfce;
  padding: 40px;
  position: relative;
}
.top-section .text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.top-section .image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* เพิ่มเพื่อแสดงว่าคลิกได้ */
}

/* ปุ่ม */
.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

/* Modal สำหรับหนังสือ */
.book-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  width: 1000px;
  height: 600px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* ส่วนล่าง */
.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: #7ebb9e;
  padding: 40px;
}

.bottom-section .text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.bottom-section .image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  max-width: 400px;
  height: auto;
  transition: transform 0.3s ease;
}
.image:hover {
  transform: scale(1.05);
}
.image-book {
  max-width: 400px;
  height: auto;
  transition: transform 0.3s ease;
  border: #000 solid 4px;
  border-radius: 10px;
  padding: 60px 0px 60px 0px;
}
.image-book:hover {
  transform: scale(1.05);
}
.bottom-section {
  height: 500px;
}
